In [33]:
import pandas as pd
import numpy as np

In [34]:
a = pd.read_csv("./fianl_change_dinner.csv")
b = pd.read_csv("./sub_f_inal.csv")

In [35]:
a

            일자          중식계         석식계
0   2021-01-27   980.654934  407.950771
1   2021-01-28   931.951907  437.960553
2   2021-01-29   622.249575  282.717662
3   2021-02-01  1209.063556  580.492267
4   2021-02-02  1047.370794  538.109406
5   2021-02-03  1081.800389  520.740234
6   2021-02-04  1007.308563  555.480545
7   2021-02-05   718.116797  421.965396
8   2021-02-08  1317.386555  689.484153
9   2021-02-09  1044.131765  586.681351
10  2021-02-10   823.802471  459.557632
11  2021-02-15  1316.862432  722.884039
12  2021-02-16  1174.217719  704.585368
13  2021-02-17  1037.447870  493.564294
14  2021-02-18   942.416513  581.401049
15  2021-02-19   694.422450  422.319450
16  2021-02-22  1317.192057  731.372034
17  2021-02-23  1102.060992  669.522112
18  2021-02-24   984.439209  483.905058
19  2021-02-25   920.205069  586.403456
20  2021-02-26   602.349210  349.800603
21  2021-03-02  1069.498603  662.090048
22  2021-03-03  1008.640271  537.893790
23  2021-03-04   952.296626  631.179567
24  2021-03-05   719.631669  413.114932
25  2021-03-08  1347.742921  703.253188
26  2021-03-09  1274.194130  690.052576
27  2021-03-10  1014.032476  500.880370
28  2021-03-11   939.022417  633.672825
29  2021-03-12   688.493804  422.131681
30  2021-03-15  1280.191992  723.222384
31  2021-03-16  1051.193108  654.217830
32  2021-03-17  1014.641881  502.106542
33  2021-03-18   922.368480  563.016400
34  2021-03-19   663.316996  400.144257
35  2021-03-22  1264.944380  681.209180
36  2021-03-23  1021.963943  659.876599
37  2021-03-24   963.033263  509.267311
38  2021-03-25   885.841596  537.543719
39  2021-03-26   627.100954  389.116708
40  2021-03-29  1259.871805  679.608324
41  2021-03-30  1028.675941  672.265321
42  2021-03-31  1005.321675  511.984152
43  2021-04-01   855.280319  522.108820
44  2021-04-02   623.573938  375.428845
45  2021-04-05  1210.577264  622.324250
46  2021-04-06  1002.277711  606.890262
47  2021-04-07   943.693636  481.804373
48  2021-04-08   850.756877  510.320953
49  2021-04-09   620.993407  375.453066

In [36]:
b

            일자          중식계         석식계
0   2021-01-27   904.510674  389.667138
1   2021-01-28   904.011825  443.825444
2   2021-01-29   594.587829  276.191645
3   2021-02-01  1174.937702  588.832850
4   2021-02-02  1033.847466  548.337170
5   2021-02-03   961.142505  513.462262
6   2021-02-04   981.898490  559.514774
7   2021-02-05   728.021027  387.973353
8   2021-02-08  1280.646079  694.018465
9   2021-02-09  1030.937603  583.745168
10  2021-02-10   734.362591  205.929998
11  2021-02-15  1290.188907  738.556008
12  2021-02-16  1147.482230  723.330601
13  2021-02-17   945.004599  417.728277
14  2021-02-18   920.027688  589.738969
15  2021-02-19   709.513264  386.220890
16  2021-02-22  1278.684550  723.319124
17  2021-02-23  1046.407114  674.800479
18  2021-02-24   888.963268  431.231421
19  2021-02-25   901.669396  583.474030
20  2021-02-26   623.447447  295.744740
21  2021-03-02  1106.721969  663.641650
22  2021-03-03  1011.454828  538.523363
23  2021-03-04  1000.310064  626.551004
24  2021-03-05   785.270024  409.498698
25  2021-03-08  1384.497629  716.747643
26  2021-03-09  1325.095419  701.479399
27  2021-03-10  1018.543442  472.391895
28  2021-03-11   991.484654  615.941591
29  2021-03-12   773.866627  402.178908
30  2021-03-15  1303.889758  715.312607
31  2021-03-16  1058.921943  653.909531
32  2021-03-17   988.604193  467.865173
33  2021-03-18   959.097512  552.519866
34  2021-03-19   753.148498  356.530336
35  2021-03-22  1291.608841  667.345601
36  2021-03-23  1050.452229  651.837340
37  2021-03-24   912.578045  367.868231
38  2021-03-25   927.747807  531.288328
39  2021-03-26   740.789846  316.881189
40  2021-03-29  1293.732974  678.392335
41  2021-03-30  1065.043421  686.041961
42  2021-03-31   972.664823  424.690808
43  2021-04-01   877.826858  518.080940
44  2021-04-02   686.066918  384.930451
45  2021-04-05  1217.029514  622.656332
46  2021-04-06  1012.143728  623.264500
47  2021-04-07   920.345440  494.012067
48  2021-04-08   871.401998  515.737029
49  2021-04-09   687.889099  389.837128

In [37]:
submission = pd.read_csv("./../../data/sample_submission.csv")

In [38]:
submission["중식계"] = b["중식계"] // 1 + 10

In [39]:
submission["석식계"] = b["석식계"] // 1 - 10

In [40]:
submission.to_csv("./up_up_down_10.csv", index=False)

In [32]:
submission

            일자     중식계    석식계
0   2021-01-27   909.0  379.0
1   2021-01-28   909.0  433.0
2   2021-01-29   599.0  266.0
3   2021-02-01  1179.0  578.0
4   2021-02-02  1038.0  538.0
5   2021-02-03   966.0  503.0
6   2021-02-04   986.0  549.0
7   2021-02-05   733.0  377.0
8   2021-02-08  1285.0  684.0
9   2021-02-09  1035.0  573.0
10  2021-02-10   739.0  195.0
11  2021-02-15  1295.0  728.0
12  2021-02-16  1152.0  713.0
13  2021-02-17   950.0  407.0
14  2021-02-18   925.0  579.0
15  2021-02-19   714.0  376.0
16  2021-02-22  1283.0  713.0
17  2021-02-23  1051.0  664.0
18  2021-02-24   893.0  421.0
19  2021-02-25   906.0  573.0
20  2021-02-26   628.0  285.0
21  2021-03-02  1111.0  653.0
22  2021-03-03  1016.0  528.0
23  2021-03-04  1005.0  616.0
24  2021-03-05   790.0  399.0
25  2021-03-08  1389.0  706.0
26  2021-03-09  1330.0  691.0
27  2021-03-10  1023.0  462.0
28  2021-03-11   996.0  605.0
29  2021-03-12   778.0  392.0
30  2021-03-15  1308.0  705.0
31  2021-03-16  1063.0  643.0
32  2021-03-17   993.0  457.0
33  2021-03-18   964.0  542.0
34  2021-03-19   758.0  346.0
35  2021-03-22  1296.0  657.0
36  2021-03-23  1055.0  641.0
37  2021-03-24   917.0  357.0
38  2021-03-25   932.0  521.0
39  2021-03-26   745.0  306.0
40  2021-03-29  1298.0  668.0
41  2021-03-30  1070.0  676.0
42  2021-03-31   977.0  414.0
43  2021-04-01   882.0  508.0
44  2021-04-02   691.0  374.0
45  2021-04-05  1222.0  612.0
46  2021-04-06  1017.0  613.0
47  2021-04-07   925.0  484.0
48  2021-04-08   876.0  505.0
49  2021-04-09   692.0  379.0