In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm

import warnings 
warnings.filterwarnings(action='ignore')

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/SeoulHangangB.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
train = pd.read_csv('dataset/data/train.csv')

In [121]:
test = pd.read_csv('dataset/test_date.csv')

In [122]:
test.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '년', '월', '일'],
      dtype='object')

## 식사가능자

In [123]:
test['식사가능자'] = test['본사정원수'] - test['본사휴가자수'] - test['본사출장자수'] - test['현본사소속재택근무자수']

## 요일평균 식계

In [124]:
def make_dow_avg(df_test, df_prev):
    dow_avg_ln = df_prev.groupby('요일').mean()['중식계']
    dow_avg_dn = df_prev.groupby('요일').mean()['석식계']
    
    df_test['요일평균중식계'] = 0
    tmp = dow_avg_ln.values
    for i in range(len(tmp)):
        df_test['요일평균중식계'][df_test['요일'] == i] = tmp[i]
        
    df_test['요일평균석식계'] = 0
    tmp = dow_avg_dn.values
    for i in range(len(tmp)):
        df_test['요일평균석식계'][df_test['요일'] == i] = tmp[i]
    
    return df_test

## 월평균식계

In [125]:
def make_month_avg(df_test, df_prev):
    month_avg_ln = df_prev.groupby('월').mean()['중식계']
    month_avg_dn = df_prev.groupby('월').mean()['석식계']
    
    df_test['월평균중식계'] = 0
    tmp = month_avg_ln
    tmp_k = tmp.keys(); tmp_v = tmp.values
    for i in tmp_k:
        df_test['월평균중식계'][df_test['월'] == i] = tmp_v[i-1]
        
    df_test['월평균석식계'] = 0
    tmp = month_avg_dn
    tmp_k = tmp.keys(); tmp_v = tmp.values
    for i in tmp_k:
        df_test['월평균석식계'][df_test['월'] == i] = tmp_v[i-1]
        
    return df_test

## 공휴일전후

In [126]:
test['공휴일전후'] = 0
test['공휴일전후'][10] =1
test['공휴일전후'][20] = 1

# 모델

## 점심

In [11]:
from pycaret.regression import *

In [23]:
train.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', '년', '월', '일',
       '식사가능자', '전주중식계', '전주석식계', '요일평균중식계', '요일평균석식계', '월평균중식계', '월평균석식계',
       '공휴일전후'],
      dtype='object')

In [36]:
X_train_ln = train[['요일', '본사시간외근무명령서승인건수', '요일평균중식계', '월평균중식계', '공휴일전후',
                '본사휴가자수', '본사출장자수', '식사가능자', '중식계']]

In [37]:
reg = setup(session_id=1,
            data=X_train_ln,
            target='중식계',
            #numeric_imputation = 'mean',
            normalize = True,
            #categorical_features=['월', '요일', '공휴일전후'],
            silent=True)

In [38]:
top5 = compare_models(n_select=5, sort='MAE')

In [39]:
gbr_l = tune_model(create_model('gbr', criterion='mae'), optimize='MAE')

In [40]:
pred_holdouts = predict_model(gbr_l)
final_model_l = finalize_model(gbr_l)
final_model_l

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='mae', init=None,
                          learning_rate=0.05, loss='ls', max_depth=4,
                          max_features='sqrt', max_leaf_nodes=None,
                          min_impurity_decrease=0.05, min_impurity_split=None,
                          min_samples_leaf=2, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=260,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1, subsample=0.8, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

## 저녁

In [96]:
X_train_dn = train[['요일', '본사시간외근무명령서승인건수', '공휴일전후', '요일평균석식계', '월평균석식계', '본사출장자수',
                 '식사가능자', '월', '일', '석식계']]

In [97]:
reg = setup(session_id=2,
            data=X_train_dn,
            target='석식계',
            #numeric_imputation = 'mean',
            normalize = True,
            #categorical_features=['월', '요일', '공휴일전후'],
            silent=True)

In [98]:
top5 = compare_models(n_select=5, sort='MAE')

In [99]:
blended_d = blend_models(top5, optimize='MAE')

In [102]:
params = {'learning_rate': [0.0, 0.1, 0.09, 0.089, 0.08],
                  'booster': ['gbtree', 'gblinear', 'dart']}
xgb_ = tune_model(create_model('xgboost', gpu_id=0), optimize='MAE', custom_grid=params)

NameError: name 'Audio' is not defined

In [107]:
pred_holdouts = predict_model(blended_d)
final_model_d = finalize_model(blended_d)
final_model_d

VotingRegressor(estimators=[('rf',
                             RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100, n_jobs=-1,
                                                   oob_score=False,
                                                   random_state=2, v...
                                          learning_rate=0.300000012,
                                          max_delta_step=0, max_depth=6,
                                          min_child_weight=1, missing=nan,
                                          monotone_constraints='()',
                                          n_estimators=100, n_jobs=-1,
                                          num_parallel_tree=1,
                                          objective='reg:squarederror',
                                          random_state=2, reg_alpha=0,
                                          reg_lambda=1, scale_pos_weight=1,
                                          subsample=1, tree_method='auto',
                                          validate_parameters=1,
                                          verbosity=0))],
                n_jobs=-1, verbose=False, weights=None)

# 추론

## Test 5일마다 split

In [127]:
submission_df = pd.read_csv('submission/sub_f2.csv')

In [128]:
submission_df

            일자          중식계         석식계
0   2021-01-27   904.510674  389.667138
1   2021-01-28   904.011825  443.825444
2   2021-01-29   594.587829  276.191645
3   2021-02-01  1174.937702  588.832850
4   2021-02-02  1033.847466  548.337170
5   2021-02-03   961.142505    0.000000
6   2021-02-04   981.898490    0.000000
7   2021-02-05   728.021027    0.000000
8   2021-02-08  1280.646079    0.000000
9   2021-02-09  1030.937603    0.000000
10  2021-02-10   734.362591    0.000000
11  2021-02-15  1290.188907    0.000000
12  2021-02-16  1147.482230    0.000000
13  2021-02-17   945.004599    0.000000
14  2021-02-18   920.027688    0.000000
15  2021-02-19   709.513264    0.000000
16  2021-02-22  1278.684550    0.000000
17  2021-02-23  1046.407114    0.000000
18  2021-02-24   888.963268    0.000000
19  2021-02-25   901.669396    0.000000
20  2021-02-26   623.447447    0.000000
21  2021-03-02  1106.721969    0.000000
22  2021-03-03  1011.454828    0.000000
23  2021-03-04  1000.310064    0.000000
24  2021-03-05   785.270024    0.000000
25  2021-03-08  1384.497629    0.000000
26  2021-03-09  1325.095419    0.000000
27  2021-03-10  1018.543442    0.000000
28  2021-03-11   991.484654    0.000000
29  2021-03-12   773.866627    0.000000
30  2021-03-15  1303.889758    0.000000
31  2021-03-16  1058.921943    0.000000
32  2021-03-17   988.604193    0.000000
33  2021-03-18   959.097512    0.000000
34  2021-03-19   753.148498    0.000000
35  2021-03-22  1291.608841    0.000000
36  2021-03-23  1050.452229    0.000000
37  2021-03-24   912.578045    0.000000
38  2021-03-25   927.747807    0.000000
39  2021-03-26   740.789846    0.000000
40  2021-03-29  1293.732974    0.000000
41  2021-03-30  1065.043421    0.000000
42  2021-03-31   972.664823    0.000000
43  2021-04-01   877.826858    0.000000
44  2021-04-02   686.066918    0.000000
45  2021-04-05  1217.029514    0.000000
46  2021-04-06  1012.143728    0.000000
47  2021-04-07   920.345440    0.000000
48  2021-04-08   871.401998    0.000000
49  2021-04-09   687.889099    0.000000

In [129]:
test.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '년', '월', '일', '식사가능자', '공휴일전후'],
      dtype='object')

In [134]:
res = []
X_test = test[['일자', '요일', '본사시간외근무명령서승인건수', '공휴일전후', '본사출장자수',
                 '식사가능자', '월', '일']]
for i in range(len(X_test)):
    if i%5 == 0:
        res.append(X_test[i:i+5])

In [135]:
res = res[1:]
len(res)

9

In [136]:
res[0]

           일자  요일  본사시간외근무명령서승인건수  공휴일전후  본사출장자수   식사가능자  월  일
5  2021-02-03   2               5      0     199  2380.0  2  3
6  2021-02-04   1             476      0     211  2364.0  2  4
7  2021-02-05   0               0      0     252  2247.0  2  5
8  2021-02-08   3             690      0     174  2333.0  2  8
9  2021-02-09   4             542      0     183  2318.0  2  9

In [137]:
from datetime import timedelta
prev = train
for idx, part_test in enumerate(res):
    part_test = make_dow_avg(part_test, prev)
    part_test = make_month_avg(part_test, prev)
    
    #pred 생성
    #pred_ln = predict_model(final_model_l, part_test.drop(['일자', '월'], axis=1))
    pred_dn = predict_model(final_model_d, part_test.drop(['일자'], axis=1))
    
    #submission 업데이트
    #submission_df['중식계'][5*(idx+1):5*(idx+1)+5] = pred_ln['Label']
    submission_df['석식계'][5*(idx+1):5*(idx+1)+5] = pred_dn['Label']

In [138]:
submission_df

            일자          중식계         석식계
0   2021-01-27   904.510674  389.667138
1   2021-01-28   904.011825  443.825444
2   2021-01-29   594.587829  276.191645
3   2021-02-01  1174.937702  588.832850
4   2021-02-02  1033.847466  548.337170
5   2021-02-03   961.142505  513.462262
6   2021-02-04   981.898490  559.514774
7   2021-02-05   728.021027  387.973353
8   2021-02-08  1280.646079  694.018465
9   2021-02-09  1030.937603  583.745168
10  2021-02-10   734.362591  205.929998
11  2021-02-15  1290.188907  738.556008
12  2021-02-16  1147.482230  723.330601
13  2021-02-17   945.004599  417.728277
14  2021-02-18   920.027688  589.738969
15  2021-02-19   709.513264  386.220890
16  2021-02-22  1278.684550  723.319124
17  2021-02-23  1046.407114  674.800479
18  2021-02-24   888.963268  431.231421
19  2021-02-25   901.669396  583.474030
20  2021-02-26   623.447447  295.744740
21  2021-03-02  1106.721969  663.641650
22  2021-03-03  1011.454828  538.523363
23  2021-03-04  1000.310064  626.551004
24  2021-03-05   785.270024  409.498698
25  2021-03-08  1384.497629  716.747643
26  2021-03-09  1325.095419  701.479399
27  2021-03-10  1018.543442  472.391895
28  2021-03-11   991.484654  615.941591
29  2021-03-12   773.866627  402.178908
30  2021-03-15  1303.889758  715.312607
31  2021-03-16  1058.921943  653.909531
32  2021-03-17   988.604193  467.865173
33  2021-03-18   959.097512  552.519866
34  2021-03-19   753.148498  356.530336
35  2021-03-22  1291.608841  667.345601
36  2021-03-23  1050.452229  651.837340
37  2021-03-24   912.578045  367.868231
38  2021-03-25   927.747807  531.288328
39  2021-03-26   740.789846  316.881189
40  2021-03-29  1293.732974  678.392335
41  2021-03-30  1065.043421  686.041961
42  2021-03-31   972.664823  424.690808
43  2021-04-01   877.826858  518.080940
44  2021-04-02   686.066918  384.930451
45  2021-04-05  1217.029514  622.656332
46  2021-04-06  1012.143728  623.264500
47  2021-04-07   920.345440  494.012067
48  2021-04-08   871.401998  515.737029
49  2021-04-09   687.889099  389.837128

In [139]:
submission_df.to_csv('submission/sub_f_inal.csv', index=False)

In [ ]:

train['전주중식계'] = 0
train['전주석식계'] = 0
idx = pd.DatetimeIndex(train['일자']) + timedelta(weeks=-1)
for i in range(len(train)):
    try:
        train['전주중식계'][i] = train[train['일자'] == str(idx[i])[:10]]['중식계']
        train['전주석식계'][i] = train[train['일자'] == str(idx[i])[:10]]['석식계']
    except:
        train['전주중식계'][i] = train.iloc[i,:]['중식계']
        train['전주석식계'][i] = train.iloc[i,:]['석식계']

train[['중식계', '전주중식계', '석식계', '전주석식계', '일자']].head(10)