In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm

import warnings 
warnings.filterwarnings(action='ignore')

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/SeoulHangangB.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
train = pd.read_csv('dataset/data/train.csv')

In [3]:
test = pd.read_csv('dataset/test_date.csv')

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              1205 non-null   object
 1   요일              1205 non-null   int64
 2   본사정원수           1205 non-null   int64
 3   본사휴가자수          1205 non-null   int64
 4   본사출장자수          1205 non-null   int64
 5   본사시간외근무명령서승인건수  1205 non-null   int64
 6   현본사소속재택근무자수     1205 non-null   float64
 7   조식메뉴            1205 non-null   object
 8   중식메뉴            1205 non-null   object
 9   석식메뉴            1205 non-null   object
 10  중식계             1205 non-null   float64
 11  석식계             1205 non-null   float64
 12  년               1205 non-null   int64
 13  월               1205 non-null   int64
 14  일               1205 non-null   int64
 15  식사가능자           1205 non-null   float64
 16  전주중식계           1205 non-null   int64
 17  전주석식계           1205 non-null   int64
 18  요일평균중식계         1205 non-null   float64
 19  요일평균석식계         1205 non-null   float64
 20  월평균중식계          1205 non-null   float64
 21  월평균석식계          1205 non-null   float64
 22  공휴일전후           1205 non-null   int64
dtypes: float64(8), int64(11), object(4)
memory usage: 216.6+ KB

In [5]:
test.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '년', '월', '일', '식사가능자'],
      dtype='object')

## 식사가능자

In [4]:
test['식사가능자'] = test['본사정원수'] - test['본사휴가자수'] - test['본사출장자수'] - test['현본사소속재택근무자수']

## 요일평균 식계

In [5]:
def make_dow_avg(df_test, df_prev):
    dow_avg_ln = df_prev.groupby('요일').mean()['중식계']
    dow_avg_dn = df_prev.groupby('요일').mean()['석식계']
    
    df_test['요일평균중식계'] = 0
    tmp = dow_avg_ln.values
    for i in range(len(tmp)):
        df_test['요일평균중식계'][df_test['요일'] == i] = tmp[i]
        
    df_test['요일평균석식계'] = 0
    tmp = dow_avg_dn.values
    for i in range(len(tmp)):
        df_test['요일평균석식계'][df_test['요일'] == i] = tmp[i]
    
    return df_test

## 월평균식계

In [6]:
def make_month_avg(df_test, df_prev):
    month_avg_ln = df_prev.groupby('월').mean()['중식계']
    month_avg_dn = df_prev.groupby('월').mean()['석식계']
    
    df_test['월평균중식계'] = 0
    tmp = month_avg_ln
    tmp_k = tmp.keys(); tmp_v = tmp.values
    for i in tmp_k:
        df_test['월평균중식계'][df_test['월'] == i] = tmp_v[i-1]
        
    df_test['월평균석식계'] = 0
    tmp = month_avg_dn
    tmp_k = tmp.keys(); tmp_v = tmp.values
    for i in tmp_k:
        df_test['월평균석식계'][df_test['월'] == i] = tmp_v[i-1]
        
    return df_test

## 공휴일전후

In [7]:
test['공휴일전후'] = 0
test['공휴일전후'][10] =1
test['공휴일전후'][20] = 1

# 모델

## 점심

In [8]:
from pycaret.regression import *

In [9]:
train.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', '년', '월', '일',
       '식사가능자', '전주중식계', '전주석식계', '요일평균중식계', '요일평균석식계', '월평균중식계', '월평균석식계',
       '공휴일전후'],
      dtype='object')

In [10]:
X_train_ln = train[['요일', '본사시간외근무명령서승인건수', '전주중식계', '요일평균중식계', '월평균중식계', '공휴일전후',
                '본사휴가자수', '본사출장자수', '식사가능자', '중식계']]

In [11]:
reg = setup(session_id=1,
            data=X_train_ln,
            target='중식계',
            #numeric_imputation = 'mean',
            normalize = True,
            #categorical_features=['월', '요일', '공휴일전후'],
            silent=True)

In [120]:
top5 = compare_models(n_select=5, sort='MAE')

In [12]:
gbr_l = tune_model(create_model('gbr', criterion='mae'), optimize='MAE')

In [13]:
pred_holdouts = predict_model(gbr_l)
final_model_l = finalize_model(gbr_l)
final_model_l

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='mae', init=None,
                          learning_rate=0.05, loss='ls', max_depth=4,
                          max_features='sqrt', max_leaf_nodes=None,
                          min_impurity_decrease=0.05, min_impurity_split=None,
                          min_samples_leaf=2, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=260,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1, subsample=0.8, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

## 저녁

In [16]:
X_train_dn = train[['요일', '본사시간외근무명령서승인건수', '전주석식계', '요일평균석식계', '월평균석식계', '공휴일전후',
                '본사휴가자수', '본사출장자수', '식사가능자', '석식계']]

In [17]:
reg = setup(session_id=2,
            data=X_train_dn,
            target='석식계',
            #numeric_imputation = 'mean',
            normalize = True,
            #categorical_features=['월', '요일', '공휴일전후'],
            silent=True)

In [18]:
top5 = compare_models(n_select=5, sort='MAE')

In [19]:
blended_d = blend_models(top5, optimize='MAE')

In [128]:
et_d = create_model('et', criterion='mae')

In [20]:
pred_holdouts = predict_model(blended_d)
final_model_d = finalize_model(blended_d)
final_model_d

VotingRegressor(estimators=[('et',
                             ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                                 criterion='mse',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 max_samples=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100, n_jobs=-1,
                                                 oob_score=False,
                                                 random_state=2, ve...
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100, n_jobs=-1,
                                                   oob_score=False,
                                                   random_state=2, verbose=0,
                                                   warm_start=False)),
                            ('huber',
                             HuberRegressor(alpha=0.0001, epsilon=1.35,
                                            fit_intercept=True, max_iter=100,
                                            tol=1e-05, warm_start=False))],
                n_jobs=-1, verbose=False, weights=None)

# 추론

## Test 5일마다 split

In [25]:
submission_df = pd.read_csv('./sample_submission.csv')

In [30]:
res = []
X_test = test[['일자', '월', '요일', '본사시간외근무명령서승인건수', '공휴일전후',
                '본사휴가자수', '본사출장자수', '식사가능자']][:5]

In [31]:
X_test

           일자  월  요일  본사시간외근무명령서승인건수  공휴일전후  본사휴가자수  본사출장자수   식사가능자
0  2021-01-27  1   2               5      0      88     182  2355.0
1  2021-01-28  1   1             409      0     104     212  2319.0
2  2021-01-29  1   0               0      0     270     249  2170.0
3  2021-02-01  2   3             538      0     108     154  2340.0
4  2021-02-02  2   4             455      0      62     186  2362.0

In [32]:
from datetime import timedelta
X_test = make_dow_avg(X_test, train)
X_test = make_month_avg(X_test, train)
X_test['전주중식계'] = 0
X_test['전주석식계'] = 0
index = pd.DatetimeIndex(X_test['일자']) + timedelta(weeks=-1)
for i in range(5):
    X_test['전주중식계'][i] = train[train['일자'] == str(index[i])[:10]]['중식계']
    X_test['전주석식계'][i] = train[train['일자'] == str(index[i])[:10]]['석식계']

In [49]:
pred_ln = predict_model(final_model_l, X_test)
pred_dn = predict_model(final_model_d, X_test)

In [50]:
submission_df['중식계'][:5] = pred_ln['Label']
submission_df['석식계'][:5] = pred_dn['Label']

In [51]:
submission_df

            일자          중식계         석식계
0   2021-01-27   904.510674  389.667138
1   2021-01-28   904.011825  443.825444
2   2021-01-29   594.587829  276.191645
3   2021-02-01  1174.937702  588.832850
4   2021-02-02  1033.847466  548.337170
5   2021-02-03     0.000000    0.000000
6   2021-02-04     0.000000    0.000000
7   2021-02-05     0.000000    0.000000
8   2021-02-08     0.000000    0.000000
9   2021-02-09     0.000000    0.000000
10  2021-02-10     0.000000    0.000000
11  2021-02-15     0.000000    0.000000
12  2021-02-16     0.000000    0.000000
13  2021-02-17     0.000000    0.000000
14  2021-02-18     0.000000    0.000000
15  2021-02-19     0.000000    0.000000
16  2021-02-22     0.000000    0.000000
17  2021-02-23     0.000000    0.000000
18  2021-02-24     0.000000    0.000000
19  2021-02-25     0.000000    0.000000
20  2021-02-26     0.000000    0.000000
21  2021-03-02     0.000000    0.000000
22  2021-03-03     0.000000    0.000000
23  2021-03-04     0.000000    0.000000
24  2021-03-05     0.000000    0.000000
25  2021-03-08     0.000000    0.000000
26  2021-03-09     0.000000    0.000000
27  2021-03-10     0.000000    0.000000
28  2021-03-11     0.000000    0.000000
29  2021-03-12     0.000000    0.000000
30  2021-03-15     0.000000    0.000000
31  2021-03-16     0.000000    0.000000
32  2021-03-17     0.000000    0.000000
33  2021-03-18     0.000000    0.000000
34  2021-03-19     0.000000    0.000000
35  2021-03-22     0.000000    0.000000
36  2021-03-23     0.000000    0.000000
37  2021-03-24     0.000000    0.000000
38  2021-03-25     0.000000    0.000000
39  2021-03-26     0.000000    0.000000
40  2021-03-29     0.000000    0.000000
41  2021-03-30     0.000000    0.000000
42  2021-03-31     0.000000    0.000000
43  2021-04-01     0.000000    0.000000
44  2021-04-02     0.000000    0.000000
45  2021-04-05     0.000000    0.000000
46  2021-04-06     0.000000    0.000000
47  2021-04-07     0.000000    0.000000
48  2021-04-08     0.000000    0.000000
49  2021-04-09     0.000000    0.000000

In [52]:
submission_df.to_csv('submission/sub_f1.csv', index=False)

In [ ]:

train['전주중식계'] = 0
train['전주석식계'] = 0
idx = pd.DatetimeIndex(train['일자']) + timedelta(weeks=-1)
for i in range(len(train)):
    try:
        train['전주중식계'][i] = train[train['일자'] == str(idx[i])[:10]]['중식계']
        train['전주석식계'][i] = train[train['일자'] == str(idx[i])[:10]]['석식계']
    except:
        train['전주중식계'][i] = train.iloc[i,:]['중식계']
        train['전주석식계'][i] = train.iloc[i,:]['석식계']

train[['중식계', '전주중식계', '석식계', '전주석식계', '일자']].head(10)